.data-header {
    border-bottom: 1px solid #e1e1e1;
}

.data-header {
    display: none;
    padding: 0.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 1600px) {
    .data-header {
        display: flex;
        gap: 1rem;
    }
}



.data-header__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    padding-block: 0.2rem;
}