.input-form {
    width: 100%;
    display: grid;
    gap: 0.75rem;
}

@media screen and (min-width: 1200px) {
    .input-form {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1600px) {
    .input-form {
        grid-template-columns: repeat(8, 1fr)
    };
}

/* .input-form input, select {
    padding: 0.5rem;
    border: 1px solid var(--clr-primary-light);
} */

.input-form__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.dialog::backdrop {
    background-color: black;
}