form {
    width: 100%;
    display: flex;
    margin-left: 1.8rem;
}

.data-item, form {
    width: 100%;
    display: flex;
    /* cursor: pointer; */
    gap: 0.5rem;
    padding-block: 0.2rem;
    background-color: rgba(206, 206, 206, 0.511);
}

.data-item:hover {
    background: lightgray;
}

.data-item input, form input {
    width: 100%;
}

.data-item select, form select {
    cursor: pointer;
}

.data-item input[type=checkbox]{
    width: auto;
    cursor: pointer;
}