.data-items {
    display: flex;
    flex-direction: column;
}

.data-item__selected, .data-item__selected:hover {
    background: lightgray;
}

.data-item form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.data-item__display {
    /* padding: 0.5rem; */
    border: 1px solid #e1e1e1;
}

.data-item__display-default {
    cursor: pointer;
}

/* .data-item__display-selected {
    cursor: text;
} */

.data-item {
    cursor: pointer;
}

.data-item__wrapper {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
}

.data-item__display-wrapper.large {
    display: none;
}

@media (hover: hover) {
    .data-item__input-wrapper input:hover {
        border: 1px solid #00000050;
    }
    .data-item:hover {
        background-color: #f1f1f1;
    }
    .data-item__display-selected:hover {
        border: 1px solid #00000030;
    }
}

.data-item__input-wrapper input, .data-item__display-wrapper.large .data-item__display {
    padding: 0.5rem;
    border: 1px solid #e1e1e1;
}

.data-item__display{
    display: grid;
    gap: 0.5rem;
}

.data-item__display-wrapper .item {
    padding: 0.5rem;
    border: 1px solid #e1e1e1;
}

.data-item__display-wrapper.small, .data-item__input-wrapper {
    width: 100%;
    display: grid;
}

.data-item__display-wrapper, .data-item__input-wrapper {
    width: 100%;
    display: grid;
    gap: 0.5rem;
    /* padding-block: 0.2rem; */
}

@media screen and (max-width: 600px) {
    .data-item__display-wrapper {
        display: none;
    }
}

@media screen and (min-width: 1400px) {
    .data-item__display-wrapper.large, .data-item__input-wrapper {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
    .data-item__display-wrapper.small {
        display: none;
    }
}

.data-item input[type=checkbox]{
    width: auto;
    /* cursor: pointer; */
}

.data-item__button-wrapper {
    display: flex;
    gap: 0.5rem;
    margin-block: 0.5rem;
    min-height: 40px;
}

.data-item select, form select {
    cursor: pointer;
}