.tab-btn {
    font-size: 0.875rem;
}

.tabs-wrapper {
    border-bottom: 1px solid var(--clr-light-gray);
    display: flex;
    gap: 0.5rem;
}

.tabs-wrapper__tab-btn {
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.tabs-wrapper__tab-btn.active {
    background-color: var(--clr-primary);
    color: white;
}